html {
  scroll-behavior: smooth;
}

.content-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#proyectos {
  width: calc(100% - 100px);
  margin-left: 100px;
  background: #2f363e;
}

.proyectos-grid {
  display: grid;

  /* 1. CAMBIO AQUÍ: Las columnas ahora tienen un tamaño base fijo. */
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

  /* (Opcional) Margen vertical. */
  margin: 20px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.main-project {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 40px 0px 40px;
}
.titulo-seccion {
  color: #e0e0e0;
}

.titulo-seccion.con-linea {
  position: relative;
  padding-top: 1rem;
}

.titulo-seccion.con-linea::before {
  content: ''; /* Obligatorio para que se muestre */
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* Ancho de la línea */
  height: 4px; /* Grosor de la línea */
  background-color: #3498db; /* <-- ¡CAMBIA ESTE COLOR POR EL DE TU MARCA! */
  border-radius: 2px;
}

@media (max-width: 768px) {
  #proyectos {
    width: 100%;
    margin-left: 0;
  }
  .proyectos-grid {
    grid-template-columns: 1fr;
    place-items: center;
  }
}
